html, body {
  height: 100%;
  width: 100%;
  background-color: #b890e7;
}

h1{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 100px;
  font-family: 'Parisienne', cursive;
  background-image: url("sparkle.gif");
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000080;
}

.library {
  display: grid;
  height: 1000px;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
}

p {
  padding: 2px 2px 2px 2px;
  text-align: center;
  font-size: 25px;
  background-image: url("sparkle.gif");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: #e5d3ff 1px 0 10px;
}

/* contains the image, caption text, and dim background overlay */
.container {
  position: relative;
  width: 100%;
  border: 1px solid #000080;
  background-color: #e7d4fe;
  box-shadow: 5px 5px #000080;
}

/* contains caption text */
.overlay {
  position: absolute;
  vertical-align: middle;
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color:  #dabbff;
}
.container:hover .overlay {
  opacity: 0.9;
}
.text {
  color: #000080;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* CSS */
a {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  a {
    padding: 0 2.6rem;
  }
}
